/** -----------------------VARIABLES------------------------- */

:root {
  /* Colors */
  --slate: #434455;
  --white: #fff;
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
}
/** -----------------------BASE STYLES----------------------- */

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

/** -----------------------COMPONENTS STYLES------------------- */

.section-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/** -----------------------HEADER------------------------------ */

.header-logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-blue {
  color: var(--navyblue);
}

.header-menu-link {
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--ocean);
}

.header-address {
  font-style: normal;
}

.header-address-link {
  color: var(--slate);
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--ocean);
}

/** -----------------------HERO------------------------------- */

.hero {
  background-color: var(--navyblue);
}

.hero-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-btn {
  color: var(--white);
  background-color: var(--iris);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}

/* ---------------------ADVANTAGES--------------------------- */

.advantages {
}
.advantages-list {
}
.advantages-item {
}

.advantages-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.advantages-item-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ---------------------PROJECTS--------------------------- */
.projects {
}
.projects-title {
}
.projects-list {
}
.projects-item {
}
.projects-img {
}

/* ---------------------TEAM------------------------------- */
.team {
  background-color: var(--cloud);
}
.team-title {
}

.team-list {
}

.team-item {
  background-color: var(--white);
}
.team-img {
}

.team-subtitle {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-text {
  color: var(--slate);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ---------------------FOOTER------------------------------- */

.footer {
  background-color: var(--navyblue);
}
.footer-logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-blue {
  color: var(--cloud);
}
.footer-text {
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ---------------------PORTFOLIO-MENU------------------------------- */

.portfolio-menu {
}
.portfolio-menu-list {
}
.portfolio-list-item {
}
.menu-btn {
  color: var(--iris);
  background-color: var(--cloud);
  font-family: inherit;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.menu-btn:hover,
.menu-btn:focus {
  color: var(--white);
  background-color: var(--ocean);
}

.portfolio-item {
}
.portfolio-link {
}
.portfolio-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
